.row {
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 100%;
}

@media(min-width:1100px) {
    .col-1 {
        max-width: 8.333%;
        flex: 0 0 8.333%;
    }
    .col-2 {
        max-width: 16.666%;
        flex: 0 0 16.666%;
    }
    .col-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }
    .col-4 {
        max-width: 33.333%;
        flex: 0 0 33.333%;
    }
    .col-5 {
        max-width: 41.666%;
        flex: 0 0 41.666%;
    }
    .col-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .col-7 {
        max-width: 58.333%;
        flex: 0 0 58.333%;
    }
    .col-8 {
        max-width: 66.666%;
        flex: 0 0 66.666%;
    }
    .col-9 {
        max-width: 75%;
        flex: 0 0 75%;
    }
    .col-10 {
        max-width: 83.333%;
        flex: 0 0 83.333%;
    }
    .col-11 {
        max-width: 91.666%;
        flex: 0 0 91.666%;
    }
    .col-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

:focus {
    outline: none;
}

.font-1 {
    font-family: Raleway;
}

.font-2 {
    font-family: Montserrat;
}

.font-3 {
    font-family: Poppins;
}

.custom-dot-class li button:before {
    color: #3bc9db;
    font-size: 14px;
}

.custom-dot-class li.slick-active button:before {
    color: #3bc9db;
}

.custom-dot-class li {
    padding: 0px 5px;
}

.slick-dots {
    bottom: 15px;
}

.tac {
    text-align: center !important;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    content: '';
    text-align: center;
    opacity: 0.25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #003570;
}

.slick-dots li.slick-active button:before {
    background-color: #003570;
}

.btn {
    padding: 8px 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    cursor: pointer;
    line-height: 25px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.btn.btn-info {
    background: #1F97EF;
    box-shadow: 0px 0px 28px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.btn.btn-info:hover {
    background: #1587d8;
}

.btn.btn-primary {
    background: #ffffff;
    box-shadow: 0px 0px 28px 3px rgba(0, 0, 0, 0.1);
    color: #000;
}

.btn.btn-primary:hover {
    background: #e2e2e2;
}

.btn.btn-outline {
    background-color: blue;
    color: #fff;
    border: solid 1px #fff;
}

.btn.btn-uline {
    color: #FFF;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex;
}

@media(min-width: 1100px) {
    .d-none-gt-1100 {
        display: none;
    }
}

@media(max-width: 1100px) {
    .d-none-lt-1100 {
        display: none;
    }
}

.slick-slide img {
    display: inline-block !important;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a {
    color: #FFF;
}

a:hover {
    color: #3BC9DB;
}

.slick-next{
  display: none!important;
}
.slick-prev{
  display: none!important;
}
.slick-prev:before, .slick-next:before {
    display: none!important;

}

h1{
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 64px;
    color: #160C3A;
}
h3{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #160C3A;
}
.btns{
    color: white;
    background-color: #003570;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}
.btns:hover{
    color: #003570;
    background-color: #ffffff;
    border: 2px solid #003570;
    box-sizing: border-box;
}
@media only screen and (max-width: 1100px) {
    h1{
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 30px;
        color: #160C3A;
    }
    h3{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #160C3A;
    }
}

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
	font-family: "Roboto";
}
:root {
	--omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
	--omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
	--omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
	--omrs-color-interaction: #1e4bd1;
	--omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
	--omrs-color-danger: #b50706;
	--omrs-color-bg-low-contrast: #eff1f2;
	--omrs-color-ink-high-contrast: #121212;
	--omrs-color-bg-high-contrast: #ffffff;
	
}
/** END: Non Openmrs CSS **/
div.omrs-input-group {
  margin-top: 1.5rem;
  position: relative;
  width: 80%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
	border: none;
	border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
	width: 100%;
	height: 50px;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
	outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
	position: absolute;
	top: 0.75rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .2s;
    font-size: 20px;
}
.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
	background: var(--omrs-color-interaction-minus-two);
	border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
	top: 0;
	font-size: 0.9375rem;
	margin-bottom: 32px;;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
	color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
	border-color: var(--omrs-color-interaction);
}

/** DISABLED **/

.omrs-input-underlined > input:disabled {
	background: var(--omrs-color-bg-low-contrast);
	cursor: not-allowed;
}


/** DANGER **/
.omrs-input-danger > input {
	border-color: var(--omrs-color-danger);
}

.omrs-input-underlined > input {
	background: var(--omrs-color-bg-high-contrast);
}
.omrs-input-filled > input {
	background: var(--omrs-color-bg-low-contrast);
}

.submit_btn{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
}
.submit_btn:hover{
    background-color: gray;
}
@media only screen and (max-width: 1100px) {
div.omrs-input-group {
  width: 100%;
}
.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
    font-size: 18px;
}
}